body{
	background-color: black;
}

.MainContainer {
	margin: 0 auto;
	width:55%;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	


}

p{
	margin-top:40px;
	font-family: Arial Rounded MT Bold;
	text-align:center;
}




#pencils{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 90px;
	
	

}

#man{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 90px;
	
	

}

#birds{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 90px;
	
	

}
.Logo{
	width: 100%;
 background-color: gray;
	
	}

#fire{
	width: 36%;
	}

#apple{
	width: 25%;
}

#fireApplecontainer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}
.arrowsRainbowcontainer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

#Arrows{
	width: 36%;
	}

#Rainbow{
	width: 36%;
	}


#bulbCrossescontainer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

#Bulb{
	width: 15%;
	}

#Crosses{
	width: 36%;
	}

#Spills{
	width: 100%;
	margin-top: 90px;
	}

.twoImgcontainer{
	display: flex;
	flex-direction: row;
}